[SddmGreeterTheme]
Name=Breeze2
Description=Breeze Theme
Author=David Edmundson, Antonio Vivace
Copyright=(c) 2014, David Edmundson and 2018, Antonio Vivace.
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/avivace/breeze2-sddm-theme
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=avivace0@protonmail.com
Theme-Id=breeze2
Theme-API=2.0
